<html>
    <head>
        <title><g:layoutTitle default="lebenslänglich.ch - Die Hochzeit von Daniela Wangler und Stefan Dolder" /></title>
        <link rel="stylesheet" href="${createLinkTo(dir:'css',file:'main.css')}" />
        <link rel="shortcut icon" href="${createLinkTo(dir:'images',file:'favicon.ico')}" type="image/x-icon" />
        <g:layoutHead />
        <g:javascript library="application" />				
        <link href="../../../web-app/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="spinner" class="spinner" style="display:none;">
            <img src="${createLinkTo(dir:'images',file:'spinner.gif')}" alt="Spinner" />
        </div>	
        <div class="logo">
          <div align="center"><img src="../../../web-app/images/Homepagebilder/Titelleistenbild_1.jpg" width="513" height="48"></div>
        </div>
        <div class="nav">
            <span class="menuButton"><g:link class="home" action="list" controller="home"><a href="Kopie von main_1.htm">Home</a></g:link>
            </span>
            <span class="menuButton"><g:link action="list" controller="home"><a href="Daniela_und_Stefan.html">Daniela & Stefan</a></g:link>
            </span>
            <span class="menuButton"><g:link action="list" controller="home"><a href="Die Trauzeugen 1.htm">Die Trauzeugen</a></g:link>
            </span>
            <span class="menuButton"><g:link class="list" action="list" controller="giftItem">Wunschbuch</g:link></span>
          <span class="menuButton"><g:link class="list" action="list" controller="guestbookEntry">Gästebuch</g:link></span>
            <span class="menuButton"><g:link action="list" controller="guestbookEntry">Warenkorb</g:link>
            </span>
            <a href="Die_Trauung.html">Die Trauung</a></div>
        <g:layoutBody />
        <div>
          <form name="form1" method="post" action="">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center">&nbsp;</td>
                <td align="center"><div align="right"><a href="Wunschbuch_Flug.html">n&auml;chste</a></div></td>
              </tr>
              <tr>
                <td width="27%" align="center"><p>
                  <h2>Themenliste / Inhaltsverzewichnis </h2>
                </p>
                <p>&nbsp;</p>
                <h2><a href="Wunschbuch_Flug.html">Flug</a></h2>
                <h2>&nbsp;</h2>
                <h2><a href="Wunschbuch_Hawaii.html">Hawaii</a></h2>
                <h2>&nbsp;</h2>
                <h2><a href="Wunschbuch_Las_Vegas.html">Las Vegas</a></h2>
                <h2>&nbsp;</h2>
                <h2> </h2>
                <h2><a href="Wunschbuch_Mietauto.html">Mietauto</a></h2>
                </p>
                <h2>&nbsp;</h2>
                <h2></h2>
                </p></td>
                <td align="center"><input type="image" name="imageField" src="../../../web-app/images/Homepagebilder/Bucheinband_2.jpg"></td>
              </tr>
            </table>
          </form>
          <p>Version </p>
          <g:meta name="app.version"/> on Grails <g:meta name="app.grails.version" /></div>
        <p>&nbsp;</p>
    </body>	
</html>