<html>
    <head>
        <title><g:layoutTitle default="lebenslänglich.ch - Die Hochzeit von Daniela Wangler und Stefan Dolder" /></title>
        <link rel="stylesheet" href="${createLinkTo(dir:'css',file:'main.css')}" />
        <link rel="shortcut icon" href="${createLinkTo(dir:'images',file:'favicon.ico')}" type="image/x-icon" />
        <g:layoutHead />
        <g:javascript library="application" />
        <style type="text/css">
<!--
@import url("../../../web-app/css/main.css");
-->
        </style>
        <link href="../../../web-app/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="spinner" class="spinner" style="display:none;">
            <img src="${createLinkTo(dir:'images',file:'spinner.gif')}" alt="Spinner" />        </div>	
        <div class="logo">
          <div align="center"><img src="../../../web-app/images/Homepagebilder/Titelleistenbild_1.jpg" alt="Grails" width="513" height="48" /></div>
        </div>
        <div class="nav">
          <span class="menuButton"><g:link class="home" action="list" controller="home"><a href="Kopie von main_1.htm">Home</a></g:link>
          </span>
            <span class="menuButton"><a href="Daniela_und_Stefan.html">
            <g:link action="list" controller="home">Daniela & Stefan</g:link>
            </a>
            <g:link action="list" controller="home"></g:link>
            </span>
            <span class="menuButton"><g:link action="list" controller="home"><a href="Die Trauzeugen 1.htm">Die Trauzeugen</a></g:link>
            </span>
            <span class="menuButton"><g:link class="list" action="list" controller="giftItem">Wunschbuch</g:link></span>
          <span class="menuButton"><g:link class="list" action="list" controller="guestbookEntry">Gästebuch</g:link></span>
            <span class="menuButton"><g:link action="list" controller="guestbookEntry">Warenkorb</g:link>
            </span>
            <a href="Die_Trauung.html">Die Trauung</a></div>
        <g:layoutBody />
        <div>
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#000000">
            <tr>
              <td scope="col"><h2>Die Trauzeugen </h2></td>
              <td scope="col">&nbsp;</td>
            </tr>
            <tr>
              <td width="51%" scope="col"><div align="center"></div>
                <div align="center"><img src="../../../web-app/images/Homepagebilder/Carmen_fuer_Homepage.jpg" alt="Carmen Tschopp" width="121" height="189"></div></td>
              <td width="49%" scope="col"><div align="center"></div>
                <h1>Carmen Tschopp<br>
                  von Langnau am Albis</h1>
                <h1>&nbsp;</h1>
                <h1>Carmen und Daniela lernten sich 2004 bei  der Arbeit am Flughafen kennen. Und sind von da an treue Wegbegleiterinnen, die  sich nicht scheuen sogar in der sibirischen K&auml;lte des hohen Nordens zusammen  durch Schnee uns Eis zu gehen!</h1>
                <h1>&nbsp;</h1>
                <h1>Als Trauzeugin gibt Carmen gerne Auskunft  bei Fragen &uuml;ber:<br>
                  - Hochzeitsgeschenke<br>
                  - Ablauf am Hochzeitstag<br>
                  - W&uuml;nsche und Bed&uuml;rfnisse der Braut</h1>
                <h1>&nbsp;</h1>
                <h1>Einfach das Kontaktformular ausf&uuml;llen und  Carmen wird sich mit euch in Verbindung setzen.</h1>
                <h1>&nbsp;</h1>
              <h1><u>Kontaktformular</u></h1></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><div align="center"><img src="../../../web-app/images/Homepagebilder/Mats_fuer_Homepage.jpg" alt="Matthias Fröhlicher" width="140" height="189" align="middle" ></div></td>
              <td><h1>Matthias Fr&ouml;hlicher<br>
                von Wallisellen</h1>
                <h1>&nbsp;</h1>
                <h1>Matthias und Stefan haben sich im 1996 beim Fussballspielen f&uuml;r den FC Glattfelden kennen gelernt. Von diesem Zeitpunkt an haben Stefan und Matthias zusammen H&ouml;hen und Tiefen erlebt, was die Freundschaft st&auml;rkte.</h1>
                <p>&nbsp;</p>
                <h1>Als Trauzeuge gibt Matthias gerne 
                  Auskunft bei Fragen &uuml;ber:<br>
                  - Ablauf am Hochzeitstag<br>
                  - Parkierm&ouml;glichkeit und Transport der geladenen G&auml;ste<br>
                  - W&uuml;nsche und Bed&uuml;rfnisse des Br&auml;utigams<br>
                </h1>
                <h1>&nbsp;</h1>
                <h1>Einfach das Kontaktformular ausf&uuml;llen und Matthias wird sich mit euch in Verbindung setzen. </h1>
                <h1>&nbsp;</h1>
              <h1><u>Kontaktformular</u></h1></td>
            </tr>
          </table>
          <p>Version          </p>
          <g:meta name="app.version"/>
          on Gra
    
    ils 
    <g:meta name="app.grails.version" /></div>
    </body>	
</html>