<html>
    <head>
        <title><g:layoutTitle default="lebenslänglich.ch - Die Hochzeit von Daniela Wangler und Stefan Dolder" /></title>
        <link rel="stylesheet" href="${createLinkTo(dir:'css',file:'main.css')}" />
        <link rel="shortcut icon" href="${createLinkTo(dir:'images',file:'favicon.ico')}" type="image/x-icon" />
        <g:layoutHead />
        <g:javascript library="application" />				
        <link href="../../../web-app/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="spinner" class="spinner" style="display:none;">
            <img src="${createLinkTo(dir:'images',file:'spinner.gif')}" alt="Spinner" />
        </div>	
        <div class="logo">
          <div align="center"><img src="../../../web-app/images/Homepagebilder/Titelleistenbild_1.jpg" width="513" height="48"></div>
        </div>
        <div class="nav">
            <span class="menuButton"><g:link class="home" action="list" controller="home"><a href="Kopie von main_1.htm">Home</a></g:link>
            </span>
            <span class="menuButton"><g:link action="list" controller="home"><a href="Daniela_und_Stefan.html">Daniela & Stefan</a></g:link>
            </span>
            <span class="menuButton"><g:link action="list" controller="home"><a href="Die Trauzeugen 1.htm">Die Trauzeugen</a></g:link>
            </span>
            <span class="menuButton"><g:link class="list" action="list" controller="giftItem"><a href="Wunschbuch_Einband.html">Wunschbuch</a></g:link>
            </span>
          <span class="menuButton"><g:link class="list" action="list" controller="guestbookEntry">Gästebuch</g:link></span>
            <span class="menuButton"><g:link action="list" controller="guestbookEntry">Warenkorb</g:link>
            </span>
            <a href="Die_Trauung.html">Die Trauung</a> </div>
        <g:layoutBody />
        <div>
          <form name="form1" method="post" action="">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="27%" rowspan="4" align="center"><h2>Themenliste / Inhaltsverzewichnis                    
                  </h2>
                    </p>
                    <p>&nbsp;</p>
                  <h2><a href="Wunschbuch_Ein_und_Anleitung.html">Einleitung</a></h2>
                  <h2>&nbsp;</h2>
                  <h2><a href="Wunschbuch_Flug.html">Flug</a></h2>
                  <h2>&nbsp;</h2>
                  <h2><a href="Wunschbuch_Hawaii.html">Hawaii</a></h2>
                  <h2>&nbsp;</h2>
                  <h2><a href="Wunschbuch_Las_Vegas.html">Las Vegas</a></h2>
                  <h2>&nbsp;</h2>
                  <h2><a href="Wunschbuch_Mietauto.html">Mietauto / Abendessen </a></h2>
                  </p>
                    <h2>&nbsp;</h2>
                  <h2></h2>
                  </p></td>
                  <td align="center"><a href="Wunschbuch_Einband.html">vorherige</a></td>
                  <td align="center"><div align="right"><a href="Wunschbuch_Flug.html">n&auml;chste</a></div></td>
                </tr>
                <tr>
                  <td align="center"><h2>Einleitung</h2></td>
                  <td align="center"><h2>Anleitung</h2></td>
                </tr>
              <tr>
                <td align="center"><h1>Seit nun zwei  Jahren f&uuml;hren wir einen gemeinsamen Haushalt, haben mit M&uuml;he und Not alles  zusammengespart um uns unser Wunschmobiliar zu kaufen und sind nun komplett  eingerichtet.</h1>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <h1>Dieser Umstand  macht es uns schwer einen materiellen Wunsch f&uuml;r unsere Hochzeit zu &auml;ussern.  Auch nach langem &Uuml;berlegen ist uns nichts eingefallen, dass wir uns beide  w&uuml;nschen.</h1>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <h1>Aus diesem Grund  w&uuml;nschen wir uns einen Beitrag an unsere Flitterwochen in Hawaii und Las Vegas.  Damit k&ouml;nnt Ihr uns die gr&ouml;sste Freude machen!</h1>
                  <p>&nbsp;</p></td>
                <td align="center"><h1>Auf  den n&auml;chsten Seiten findet Ihr diverse Dinge, die es braucht damit unsere  Hochzeitsreise &uuml;berhaupt stattfinden kann. Vom Flug bis zum Drink an der Bar  ist so ziemlich alles dabei. Hier ein kurze Beschreibung:</h1>
                  <p>&nbsp;</p>
                  <p>
                    <ol>
                  </p>
                  <ul>
                    <li>In den leeren Feldern k&ouml;nnt Ihr  beim jeweiligen Thema eine Zahl eingeben, welche dann einem Frankenbetrag  entspricht, den Ihr zu diesem Thema beitragen m&ouml;chtet.</li>
                  </ul>
                  <p>&nbsp;</p>
                  <p>
                    <ol>
                  </p>
                  <ul>
                    <li>Im Warenkorb k&ouml;nnt Ihr sehen,  was Ihr alles ausgew&auml;hlt habt und das stellt dann Eure Unterst&uuml;tzung dar.</li>
                  </ul>
                  <p>&nbsp;</p>
                  <p>
                    <ol>
                  </p>
                  <ul>
                    <li>Wenn Ihr auf &rsquo;&rsquo;Einkaufen&rsquo;&rsquo;  dr&uuml;ckt, wird Euer Geschenkbeitrag gebucht, und unsere Trauzeugen werden mit  Euch Kontakt aufnehmen und Euch das weitere Vorgehen mitteilen.</li>
                  </ul>
                  <p>&nbsp;</p>
                  <h1>Falls etwas unklar  ist, k&ouml;nnt Ihr &uuml;ber das Kontaktformular bei unseren Trauzeugen nachfragen. Sie  helfen Euch gerne weiter.</h1></td>
              </tr>
              <tr>
                <td align="center"><h1>&nbsp;</h1>
                </td>
                <td align="center"><h1>&nbsp;</h1>                
                </td>
              </tr>
            </table>
          </form>
          <p>Version </p>
          <g:meta name="app.version"/> on Grails <g:meta name="app.grails.version" /></div>
        <p>&nbsp;</p>
    </body>	
</html>